@charset 'utf-8';

body {
    padding: 0;
    margin: 5% 10%;    
    background: gray url("https://www.popsci.com/sites/popsci.com/files/images/2017/12/nature-forest-trees-fog.jpg") no-repeat fixed;
}

.box-shadow {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

.text-shadow {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.clear-both {
    clear: both;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.visibility-hidden {
    visibility: hidden;
}

.visibility-visible {
    visibility: visible;
}

div.first-content {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: rgba(255,247,247,0.7);
    
    box-shadow: 1px 1px 5px rgba(255,236,236,0.7);
    z-index: 999999;
}


.main-nav {
    margin-top: -3%;
    border-radius: 10%;
    background-color: rgb(57, 94, 51);
    color: white;
    font-weight: bold;
    float: right;
}

#main-title {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.2%;
    color: rgb(34, 34, 17);
}

#main-links {
    list-style: none;
    margin-bottom: 2%;
    width: 16%;
}

#main-links li {
    border-radius: 10%;
    display: inline-block;
    padding: 2%;
    text-align: center;
    background-color: rgb(57, 94, 51);
    color: white;
}

#main-links li a {
    text-decoration: none;
    color: white;
}

#main-links li:hover {
    cursor: pointer;
    background-color:hsl(0, 100%, 0%);    
}

.pop-up {
    width: auto;
    background-color: transparent;
    border-radius: 3%;
}

.coursesC {   
    float: left;
    border-radius: 3%;
    border: 1px solid gray;
}

.coursesC a {
    display: block;
    text-decoration: none;
    color: gray;
    padding: 5px;
    text-transform: capitalize;
}

.coursesC a:hover {
    text-decoration: underline;
    color: black;
}

.coursesC ol {
    margin-left: 4%;
    list-style-type: upper-roman;
    font-size: 2em;
}

.table {
    float: left;
    margin: 4% 0 0 4%;
}

table, th, td, caption {
    color: white;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
}

tfoot {
    text-align: center;
}

.avatar {
    float: left;
    margin: 7% 0 0 4%;
    text-align: center;
    color: black;
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.coursesC, .table {
    margin-right: 2%;
}

h4 {
    float: left;
    margin-right: 1%;
}

#purchase {
    margin-top: 1%;
    background-color: rgb(57, 94, 51);
    color: white;
    border-radius: 5%;
    min-width: 130px;
    max-width: 15%;
    padding: 0.3%;
    font-weight: 400;
    border: none;
    float: left;   
}

#purchase:hover {
    background-color: 	hsl(0, 100%, 0%);
    cursor: pointer;
}

.content {
    background-color: gray;
    opacity: 0.8;
    border-radius: 5px;
}

.lorem {
    color: white;
    margin: 2%;
}

.copyright {
    bottom: 0;
    margin-bottom: 1%;
    text-align: center;
    color: white;
}

@font-face {
    font-family: 'MSHu';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format ('woff');
}

body {
    font-family: 'MSHu', Arial, sans-serif;
}

h1, h2, h3, h4 {
    text-shadow: 0.016em 0.016em 0.25em #000000;
}

